:root {
    --white: hsl(0, 0%, 100%);
    --lt-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --lt-blue: hsl(228, 45%, 44%);
    --dk-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lt-gray);
}

/*Typography*/
html {
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 400;
}

/*Main Content*/
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 500px;
    background-color: var(--white);
    padding: 1.5em;
    border-radius: 25px;
    margin-bottom: 5em;
}

.container img {
    border-radius: 25px;
    width: 100%;
    margin-bottom: 1em;
}

.container h1 {
    color: var(--dk-blue);
    width: 90%;
    text-align: center;
}

.container > p {
    color: var(--gray-blue);
    width: 90%;
    text-align: center;
    margin-bottom: 1.25em;
}


.attribution {
    font-size: .6875rem; 
    text-align: center;
    position: absolute;
    bottom: 2.5%;
    right: 0;
    left: 0;
    transform: translateX(-50%, -50%);
}

.attribution a {
    color: var(--lt-blue);
}

.attribution p {
    font-size: .9375rem;
    margin-bottom: .25em;
}

@media (min-width: 1600px) {
    body {
        background: #ffffff;
        background-image: url(../design/desktop-preview.jpg);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        margin: 5em auto;
    }
    .container-desktop {
        background-color: var(--lt-gray);
        box-shadow: 15px 15px 4em hsl(0, 0%, 85%);
    }
    .container {
        margin: 0 auto;
    }
    .attribution {
        bottom: 5%;
    }
}