* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Typography*/


/*Common Styles*/
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*Header*/
.nav-desktop {
    display: none;
}



/*Hero*/



/*New-Content*/



/*Articles*/



/*Footer*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}